.header {
    text-align: center;
    background-color: aliceblue;
    margin-top: 0;
}

nav {
    margin-top: 0;
}

h2 {
    display: inline-block;
    margin-right: 1em;
}

a {
    text-decoration: none;
}